<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href='{{ url_for("static", filename="css/common.css") }}' rel="stylesheet">
        <link href="/lib/jquery.bxslider.css" rel="stylesheet" />
        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!-- jQuery library (served from Google) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- bxSlider Javascript file -->
        <script src="/js/jquery.bxslider.min.js"></script>
        <!-- bxSlider CSS file -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

        <title>전시뭐하니?</title>



        <style>


        </style>
        <script>
            $(document).ready(function(){


                $('.bxslider').bxSlider({
                    mode:'horizontal', //horizontal', 'vertical', 'fade'
                    pager:true,
                    controls:false,
                    auto:true,
                    moveSlides: 1,
                    responsive:true,
                });
            });



            function showStar() {
                $.ajax({
                    type: 'GET',
                    url: '/exhibition?sample_give=샘플데이터',
                    data: {},
                    success: function (response) {
                        let exhibition = response['all_exhibit']
                        for (let i = 0; i <exhibition.length; i++) {
                            let title = exhibition[i]['title']
                            let image = exhibition[i]['img_url']
                            let recent = exhibition[i]['recent']
                            let url = exhibition[i]['url']
                            let like = exhibition[i]['like']
                                let num = i;
                            let temp_html = `
                                <li><a onclick="javascript:${url}"><img src="${image}">${num}:${title}</a></li>
                            `
                            $('.all_exhibit').append(temp_html)
                        }
                    }
                });
            }

            function likeStar(name) {
                $.ajax({
                    type: 'POST',
                    url: '/api/like',
                    data: {sample_give:'샘플데이터'},
                    success: function (response) {
                        alert(response['msg']);
                    }
                });
            }

            function deleteStar(name) {
                $.ajax({
                    type: 'POST',
                    url: '/api/delete',
                    data: {sample_give:'샘플데이터'},
                    success: function (response) {
                        alert(response['msg']);
                    }
                });
            }

        </script>

    </head>

    <body>
        <!--header-->
        <header>
            <nav class="content_area">
                <h1>Logo</h1>
                <ul class="nav_list">
                    <li><a href="/login.html">로그인</a></li>
                    <li><a href="/register.html">회원가입</a></li>
                </ul>
            </nav>
        </header>
        <!--body-->
        <body>

            <section class="endSoon_wrap">
                <div class="content_area endSoon">
                    <ul class="endSoon_list bxslider">



                    </ul>
                </div>
            </section>
            <section class="all_exhibit_wrap">
                <div class="content_area">
                    <ul class="all_exhibit">

                        {% for exhibition in exhibitions %}
                            <li><a href="{{ url_for('detail',idx=loop.index) }}"><img src="{{exhibition.img_url}}">{{ loop.index }}: {{exhibition.title}}</a></li>
                        {% endfor %}

                    </ul>

                </div>

            </section>


        </body>
        <!--footer-->
        <footer>

        </footer>
    </body>

</html>